.place__heart-button {
  border: none;
  background-color: transparent;
  background-image: url("../../../images/heart.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 19px;
  min-width: 22px;
  max-width: 22px;
  cursor: pointer;
  transition: opacity 2s ease;
  padding: 0;
  margin: 5px;
}

.place__heart-button:hover {
  opacity: 0.5;
}

.place__heart-button:active {
  background-image: url("../../../images/heart-active.svg");
}
