@import url("../vendor/normalize.css");

@import url("../vendor/fonts/fonts.css");

@import url("../blocks/page/page.css");

@import url("../blocks/main/main.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__add-button/profile__add-button.css");
@import url("../blocks/profile/__edit-button/profile__edit-button.css");
@import url("../blocks/profile/__description/profile__description.css");
@import url("../blocks/profile/__header/profile__header.css");
@import url("../blocks/profile/__header-author/profile__header-author.css");
@import url("../blocks/profile/__add-button/__add-button-image/profile__add-button-image.css");

@import url("../blocks/places/places.css");

@import url("../blocks/place/place.css");
@import url("../blocks/place/__header/place__header.css");
@import url("../blocks/place/__information/place__information.css");
@import url("../blocks/place/__picture/place__picture.css");
@import url("../blocks/place/__heart-button/place__heart-button.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__submit-button/popup__submit-button.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__close-button/popup__close-button.css");
@import url("../blocks/popup/__input-content/popup__input-content.css");
@import url("../blocks/popup/__close-image/popup__close-image.css");
@import url("../blocks/popup/__field/popup__field.css");
@import url("../blocks/popup/_opened/popup_opened.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__copyright/footer__copyright.css");
